.hero {
	background-color: #f4f4f4;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}

.hero-content {
	max-width: 600px;
}

.hero h1 {
	font-size: 3rem;
	margin-bottom: 10px;
}

.hero h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.hero p {
	font-size: 1.2rem;
}
